<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
  </head>
  <body>
    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </aside>
      </div>
    </div>

    {{ tracking_code }}
    
    {% comment %}SV-12.04.22{% endcomment %}
    {% render 'shipping-process-times' %}
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js" defer="defer"></script>    
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js" defer="defer"></script>
    <script type="text/javascript" src="{{ 'custom-shipping-rules.js' | asset_url }}" defer="defer"></script>
  </body>

<script>
  let inner_text = document.querySelectorAll(".product__description__property")
  for (let i = 0; i < inner_text.length; i++) {
    inner_text[i].innerText = "Ships in 7-10 business days";
  }
</script>
</html>
