{% capture content %}
<!doctype html>
<html class="no-js no-touch" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="cleartype" content="on">
  <meta name="robots" content="index,follow">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.shop_bg_color }}">
  <link rel="canonical" href="{{ canonical_url }}">

   <!-- preload personalization  -->
      <link rel="dns-prefetch preconnect" href="http://dev.ua.attryb.com" />
      <link rel="dns-prefetch preconnect" href="https://velocity-d7k4uaby0-himanshu-attrybcom.vercel.app" />
      <link rel="preload" href="https://personalization-event-tracker.s3.ap-south-1.amazonaws.com/personalization5.umd.js" as="script"  />    
    <!-- preload personalization  -->
  
   <script containerId="650dae8601b5934682c178c7" src="https://d1k4m61tg1t9tl.cloudfront.net/personalization5.umd.js?version=0.1.9" defer="defer"></script>

  

  {%- if current_tags -%}{%- assign meta_tags = current_tags | join: ', ' -%}{%- endif -%}
  <title>{%- if template.name == "index" -%}{{ page_title }}{%- else -%}{{ page_title }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags }}{%- endif -%}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}{% endif %}{% unless page_title contains shop.name %} - {{ shop.name }}{% endunless %}{% endif %}</title>

  <!-- DNS prefetches -->
  <link rel="dns-prefetch" href="https://cdn.shopify.com">
  <link rel="dns-prefetch" href="https://fonts.shopify.com">
  <link rel="dns-prefetch" href="https://monorail-edge.shopifysvc.com">
  <link rel="dns-prefetch" href="https://ajax.googleapis.com">

  <!-- Preconnects -->
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
  <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">
  <link rel="preconnect" href="https://ajax.googleapis.com">

  <!-- Preloads -->
  <!-- Preload CSS -->
  {% style %}
    /* barlow-regular */
    @font-face {
      font-family: 'Barlow';
      font-style: normal;
      src: url({{ 'Barlow-Regular.ttf' | asset_url }}) format("truetype"), url({{ 'Barlow-Regular.woff2' | asset_url }}) format("woff2");
    }
    @font-face {
        font-family: "Canela";
        font-style: normal;
        src: url({{ "Canela-Regular.woff" | asset_url }}) format("woff");
    }
  {% endstyle %}
  <link rel="preload" href="{{ 'fancybox.css' | asset_url }}" as="style">
  <link rel="preload" href="{{ 'styles.css' | asset_url }}" as="style">

  <!-- Preload JS -->
  <link rel="preload" href="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" as="script">
  <link rel="preload" href="{{ 'vendors.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'utilities.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'app.js' | asset_url }}" as="script">

  {% if settings.show_multiple_currencies or shop.enabled_currencies.size > 1 %}
    <link rel="preload" href="/services/javascripts/currencies.js" as="script">
    <link rel="preload" href="{{ 'currencyConversion.js' | asset_url }}" as="script">
  {% endif %}

  {% if settings.enable_shipping_calculator and template.name == 'cart' %}
    <link rel="preload" href="{{ 'shopify_common.js' | shopify_asset_url }}" as="script">
    <link rel="preload" href="{{ 'api.jquery.js' | shopify_asset_url }}" as="script">
  {% endif %}

  {%- if template.directory == 'customers' -%}
  <link rel="preload" href="{{ 'shopify_common.js' | shopify_asset_url }}" as="script">
  <link rel="preload" href="{{ 'customer_area.js' | shopify_asset_url }}" as="script">
  {%- endif -%}

  {% if settings.disqus_enabled %}
    {% if template.name == "blog" or template.name == "article" or template.name == "index" %}
      <link rel="preload" href="//{{ settings.disqus_shortname }}.disqus.com/count.js" as="script">
    {% endif %}
  {% endif %}

  <!-- CSS for Flex -->
  <link rel="stylesheet" href="{{ 'fancybox.css' | asset_url }}">
  <link rel="stylesheet" href="{{ 'styles.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'customstyles.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'index.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'quickfixes.css' | asset_url }}">
  {% comment %}Inject theme-object begin{% endcomment %}
  <script>
    window.PXUTheme = window.PXUTheme || {};
    window.PXUTheme.version = '3.2.0';
    window.PXUTheme.name = 'Flex';
  </script>
  {% comment %}Inject theme-object end{% endcomment %}


  <script>
    {% render 'js-variables' %}
  </script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="{{ 'vendors.js' | asset_url }}" defer></script>
  <script src="{{ 'utilities.js' | asset_url }}" defer></script>
  <script src="{{ 'app.js' | asset_url }}" defer></script>

  {%- if settings.show_multiple_currencies or shop.enabled_currencies.size > 1 -%}
    <script type="text/javascript" src="/services/javascripts/currencies.js"></script>
    <script src="{{ 'currencyConversion.js' | asset_url }}" defer></script>
  {%- endif -%}



  {%- if settings.enable_shipping_calculator and template.name == "cart" -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
    <script src="{{ 'api.jquery.js' | shopify_asset_url }}" defer></script>
    <script src="{{ '/services/javascripts/countries.js' }}"></script>
  {%- endif -%}

  {%- if template.directory == 'customers' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
    <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer></script>
  {%- endif -%}

  {% if settings.disqus_enabled %}
    {% if template.name == "blog" or template.name == "article" or template.name == "index" %}
      <script id="dsq-count-scr" src="//{{ settings.disqus_shortname }}.disqus.com/count.js" async></script>
    {% endif %}
  {% endif %}

  <noscript>
    <style>
      /* Insert styles for styles when JS is not loaded */

      .noscript {
        display: block;
      }

    </style>
  </noscript>
  <script>
    document.documentElement.className=document.documentElement.className.replace(/\bno-js\b/,'js');
    if(window.Shopify&&window.Shopify.designMode)document.documentElement.className+=' in-theme-editor';
    if(('ontouchstart' in window)||window.DocumentTouch&&document instanceof DocumentTouch)document.documentElement.className=document.documentElement.className.replace(/\bno-touch\b/,'has-touch');
  </script>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags | escape }}.{% endif %}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}.{% endif %}" />
  {%- endif -%}

  {%- if settings.favicon != nil -%}
    <link rel="shortcut icon" type="image/x-icon" href="{{ settings.favicon | img_url: '180x180' }}">
    <link rel="apple-touch-icon" href="{{ settings.favicon | img_url: '180x180' }}"/>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ settings.favicon | img_url: '57x57' }}"/>
    <link rel="apple-touch-icon" sizes="60x60" href="{{ settings.favicon | img_url: '60x60' }}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{{ settings.favicon | img_url: '72x72' }}"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{{ settings.favicon | img_url: '76x76' }}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{{ settings.favicon | img_url: '114x114' }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ settings.favicon | img_url: '180x180' }}"/>
    <link rel="apple-touch-icon" sizes="228x228" href="{{ settings.favicon | img_url: '228x228' }}"/>
  {%- else -%}
    <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}">
  {%- endif -%}

  {{ content_for_header }}

  {% render 'social-meta-info' %}
  {% if collection.previous_product %}<link rel="prev" href="{{ collection.previous_product }}">{% endif %}
  {% if collection.next_product %}<link rel="next" href="{{ collection.next_product }}">{% endif %}

  {% if template.name == 'customers' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {% endif %}
  
{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ routes.search_url }}?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}
  <script type="text/javascript" defer> 

    (function(c,l,a,r,i,t,y){ 

        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)}; 

        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i; 

        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y); 

    })(window, document, "clarity", "script", "b1gcwpnv89"); 

</script> 
  
  <!-- MS Clarity New Script Replace - Param -->
  <!-- Google Tag Manager -->
  
<script type="text/javascript" defer>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PHSCKWQ');
</script>
<!-- End Google Tag Manager -->

    <!-- Global site tag (gtag.js) - Google Ads: 10936124493 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-10936124493"></script>
  <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-10936124493'); gtag('config', 'AW-10936124493');</script>
  <!-- Event snippet for Purchase (1) conversion page -->
  <script>
    gtag('event', 'conversion', {
      'send_to': 'AW-10933937356/wAbsCITQqMsDEMzJ2t0o',
      'transaction_id': ''
    });
  </script>

  <script>
  if (window.location.pathname === "/pages/outlet") {
    window.location.pathname = "/collections/sale"
  }
  if (window.location.href === "https://tarinika.returnscenter.com/") {
    window.location.href = "https://www.tarinika.in/apps/return_prime"
  }
</script>
    
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PHSCKWQ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!--   personalization script -->
<!--    <script src="https://personalization-event-tracker.s3.ap-south-1.amazonaws.com/personalization5.umd.js" defer="defer"></script> -->
<!--   personalization script -->

  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "i7qp8f4yq8");
</script>

  <!--   404 redirect -->
<script>

    const notFoundRoute = 'https://www.tarinika.in/pages/404-redirect-page'
    const urlPath = window.location.pathname
    // Check if the current page is a 404 error page
    if (document.title === '404 Not Found - Tarinika India' && urlPath !== `/pages/404-redirect-page` ) {
      // Redirect to the custom 404 page
      window.location.href = notFoundRoute;
    } 
  
</script>
<!--   404 redirect -->
  
</head>

{%- capture money_format_output -%}
  {%- if settings.currency_format == 'money_with_currency_format' -%}
    {{- shop.money_with_currency_format | strip_html -}}
  {%- else -%}
    {{- shop.money_format | strip_html -}}
  {%- endif -%}
{%- endcapture -%}
<body
  class="
    {%- if template.name == '404' -%}
      error-404
    {% else -%}
      {{ template | replace: '.', '-' | handle }}
    {%- endif -%}
    {% if settings.header_layout == 'vertical' -%}
      has-vertical-header
    {%- endif -%}
  "
  data-money-format="{{ money_format_output }}"
  data-shop-url="{{ shop.url }}"
  data-current-lang="{{ request.locale.iso_code }}"
>
  {% comment %}Inject icon-star-symbol begin{% endcomment %}
  <svg
    class="icon-star-reference"
    aria-hidden="true"
    focusable="false"
    role="presentation"
    xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="3 3 17 17" fill="none"
  >
    <symbol id="icon-star">
      <rect class="icon-star-background" width="20" height="20" fill="currentColor"/>
      <path d="M10 3L12.163 7.60778L17 8.35121L13.5 11.9359L14.326 17L10 14.6078L5.674 17L6.5 11.9359L3 8.35121L7.837 7.60778L10 3Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="none"/>
    </symbol>
    <clipPath id="icon-star-clip">
      <path d="M10 3L12.163 7.60778L17 8.35121L13.5 11.9359L14.326 17L10 14.6078L5.674 17L6.5 11.9359L3 8.35121L7.837 7.60778L10 3Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </clipPath>
  </svg>
  {% comment %}Inject icon-star-symbol end{% endcomment %}

  {% comment %}Inject css-variables begin{% endcomment %}
  {% style %}
    :root {
      --color-body-text: {{ settings.regular_color }};
      --color-body: {{ settings.shop_bg_color }};
      --color-bg: {{ settings.shop_bg_color }};
    }
  {% endstyle %}
  {% comment %}Inject css-variables end{% endcomment %}

  {% comment %}Inject @pixelunion/shopify-price-ui/price-ui-globals begin{% endcomment %}
  {%- capture price -%}{%- render 'price-ui-templates', template: 'price' -%}{%- endcapture -%}
  {%- capture price_percent -%}{%- render 'price-ui-templates', template: 'price-percent' -%}{%- endcapture -%}
  {%- capture price_min -%}{%- render 'price-ui-templates', template: 'price-min' -%}{%- endcapture -%}
  {%- capture price_max -%}{%- render 'price-ui-templates', template: 'price-max' -%}{%- endcapture -%}
  {%- capture unit_quantity -%}{%- render 'price-ui-templates', template: 'unit-quantity' -%}{%- endcapture -%}
  {%- capture unit_price -%}{%- render 'price-ui-templates', template: 'unit-price' -%}{%- endcapture -%}
  {%- capture unit_measurement -%}{%- render 'price-ui-templates', template: 'unit-measurement' -%}{%- endcapture -%}
  
  <template id="price-ui">{%- render 'price-ui-templates', template: 'price-ui' -%}</template>
  <template id="price-ui-badge">{%- render 'price-ui-templates', template: 'price-ui-badge' -%}</template>
  
  <template id="price-ui__price">{{ price }}</template>
  <template id="price-ui__price-range">{{- 'product.price.range_html' | t: price_min: price_min, price_max: price_max -}}</template>
  <template id="price-ui__unit-pricing">{{- 'product.price.unit_pricing_html' | t: unit_quantity: unit_quantity, unit_price: unit_price, unit_measurement: unit_measurement -}}</template>
  <template id="price-ui-badge__percent-savings-range">{{- 'product.badge.sale_percentage_range_html' | t: price_percent: price_percent -}}</template>
  <template id="price-ui-badge__percent-savings">{{- 'product.badge.sale_percentage_single_html' | t: price_percent: price_percent -}}</template>
  <template id="price-ui-badge__price-savings-range">{{- 'product.badge.sale_money_range_html' | t: price: price -}}</template>
  <template id="price-ui-badge__price-savings">{{- 'product.badge.sale_money_single_html' | t: price: price -}}</template>
  <template id="price-ui-badge__on-sale">{{- 'product.badge.sale' | t -}}</template>
  <template id="price-ui-badge__sold-out">{{- 'product.badge.sold_out' | t -}}</template>
  <template id="price-ui-badge__in-stock">{{- 'product.badge.in_stock' | t -}}</template>
  {% comment %}Inject @pixelunion/shopify-price-ui/price-ui-globals end{% endcomment %}


   {%- if settings.show_announcement_bar -%}
    {% section 'custom-announcement-bar' %}
  {%- endif -%}

  {%- if settings.header_layout == "classic" -%}
    {% section 'header__top-bar' %}
    {% section 'header-classic' %}
  {%- elsif settings.header_layout == "centered" -%}
    {% section 'header-centered__top-bar' %}
    {% section 'header-centered' %}
  {%- elsif settings.header_layout == "vertical" -%}
    {% section 'header-vertical' %}
  {%- elsif settings.header_layout == "search_focus" -%}
    {% section 'header__top-bar' %}
    {% section 'header-search-focus' %}
  {%- endif -%}

  {%- if settings.cart_action == 'drawer' -%}
    {% render 'ajax-cart' %}
  {%- endif -%}

  {% if settings.mega_menu_1 == true %}
    {% section 'mega-menu-1' %}
  {% endif %}
  {% if settings.mega_menu_2 == true %}
    {% section 'mega-menu-2' %}
  {% endif %}
  {% if settings.mega_menu_3 == true %}
    {% section 'mega-menu-3' %}
  {% endif %}
  {% if settings.mega_menu_4 == true %}
    {% section 'mega-menu-4' %}
  {% endif %}
  {% if settings.mega_menu_5 == true %}
    {% section 'mega-menu-5' %}
  {% endif %}
  {% if settings.mega_menu_6 == true %}
    {% section 'mega-menu-6' %}
  {% endif %}
  {% if settings.mega_menu_7 == true %}
    {% section 'mega-menu-7' %}
  {% endif %}
  {% if settings.mega_menu_8 == true %}
    {% section 'mega-menu-8' %}
  {% endif %}
  {% if settings.mega_menu_9 == true %}
    {% section 'mega-menu-9' %}
  {% endif %}
  {% if settings.mega_menu_10 == true %}
    {% section 'mega-menu-10' %}
  {% endif %}

  {% if settings.header_layout == "vertical" %}
    <div class="is-beside-vertical-header">
  {% endif %}

  <div id="template-{{ template | replace: '.', '-' | handle }}" data-check-for-order="true">
    <div class="dynamic-sections">
      {{ content_for_layout }}
    </div>
    {% section 'index__newsletter' %}
  </div>

  {% if settings.footer_layout == "centered" %}
    {% section 'footer__icon-bar' %}
    {% section 'footer-centered' %}
  {% elsif settings.footer_layout == "classic" %}
    {% section 'footer__icon-bar' %}
    {% section 'footer-classic' %}
  {% elsif settings.footer_layout == "promotional" %}
    {% section 'footer__icon-bar' %}
    {% section 'footer-promotional' %}
  {% endif %}
 

      
  <div id="footer-text-section-home" style="display:none;" >    
  {% section 'index__rich-text' %}
  </div>


  {% if settings.header_layout == "vertical" %}
    </div>
  {% endif %}

  {% if settings.show_fixed_message %}
    {% section 'fixed-message' %}
  {% endif %}

  {% if settings.enable_quickshop %}
    {% render 'quick-shop' %}
  {% endif %}

  {% if settings.search_display_style == 'popup' %}
    {% render 'search-popup' %}
  {% endif %}

  {% if settings.show_popup %}
    {% section 'popup' %}
  {% endif %}

  {% render 'mobile-search' %}

  {% render 'structured-data' %}
    {% comment %}AT-variant-status{% endcomment %}
  {% render 'shipping-process-times' %}  
  <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js" defer="defer"></script>    
  <script src="{{ 'custom-shipping-rules.js' | asset_url }}"></script>
  <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>
{% include 'elspw_include' %}
 {% include 'smile-initializer' %}


  {% render 'app_wishlist-king' %}      
  </body>
</html>
{% endcapture %}
{% assign content = content | replace_first: '<!doctype', '!doctype' | split: ' <' %}
{%- for html in content -%}{%- assign htmlblock = html | strip | prepend: ' <' -%}{{htmlblock | replace: ' </', '</'}}{%- endfor -%}


