{% assign id = section.id %}
{% comment %}Layout{% endcomment %}
{% assign width = section.settings.width %}
{% assign padding_top = section.settings.padding_top %}
{% assign padding_bottom = section.settings.padding_bottom %}
{% comment %} Advanced {% endcomment %}
{% assign css_class = section.settings.css_class %}
{% assign custom_css = section.settings.custom_css %}
{% style %}
    .section__wrapper {
/*     padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px; */
    {% if width == 'wide' -%}
      width: 100%;
      max-width: 70%;
    {%- endif %}
  }
    {% render 'css-loop',
          css: custom_css,
          id: id
  %}
.sticky-footer {
    width: 100%;
    background: #fff!important;
    position: absolute;
    padding: 0.4rem;
    border-top: 1px solid #e1e1e1;
    z-index: 9;
    display: flex;
    justify-content: space-around;
    bottom: 0vh;
}
  .cart__style .cart__row-description {
    margin-left: 15px;
  }
  .cart__style p {
    font-size: 0.875rem !important;
  }
    {% render 'new-cart-styles' %}
  {% endstyle %}
  
<div class="cart-process">
  <div class="cart-page-container">
    <div class="cart-process-wrapper d-flex align-items-center">
      <div class="mobile-logo is-hidden-mobile-only">
        <a itemprop="url" data-react="true" href="/">
        <img class="logo" itemprop="logo" src="https://cdn.shopify.com/s/files/1/0232/5737/files/tarinika-new-logo.png?v=1662699798" alt="Tarinika">
        </a>
      </div>
     <div class="mobile-logo is-hidden-desktop-only">
        <a itemprop="url" data-react="true" href="/">
        <img class="logo" itemprop="logo" src="https://cdn.shopify.com/s/files/1/0232/5737/files/Asset_1_400x.png?v=1662185439" alt="Tarinika">
        </a>
      </div>
    </div>
  </div>
</div>

<section class="section__wrapper section {{ css_class }} p-0">
  <div class="container cart__empty-cart-message {% if cart.item_count > 0 %}is-hidden{% endif %}">
    <div class="column one-whole text-align-center has-padding-top has-padding-bottom">
      <h2 class="quote">{{ 'cart.general.continue_browsing_html' | t }}</h2>
      <a href="{% if cart.items.first.product.collections != blank %}{{ cart.items.first.product.collections.last.url }}{% else %}{{ routes.all_products_collection_url }}{% endif %}" class="action_button continue-button add_to_cart">{{ 'cart.general.continue_shopping_link_html' | t }}</a>
    </div>
  </div>
  <div class="cart__form {% if cart.item_count == 0 %}is-hidden{% endif %}"
      data-current-discount="{{ cart.total_discount }}">
<div class="col-12 mt-2">
<nav aria-label="Breadcrumb d-flex">
    <ol class="breadcrumb " role="list">
        <li class="breadcrumb__item breadcrumb__item--current"  aria-current="step">
          <a class="breadcrumb__link" href="https://www.tarinika.in/cart">Cart</a>
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
        </li>

          <li class="breadcrumb__item breadcrumb__item--blank">
          <span class="breadcrumb__text">Information</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
        </li>
          <li class="breadcrumb__item breadcrumb__item--blank">
          <span class="breadcrumb__text">Shipping</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
        </li>
          <li class="breadcrumb__item breadcrumb__item--blank">
          <span class="breadcrumb__text">Payment</span>
        </li>
    </ol>
  </nav>
</div>
        <form action="{{ routes.cart_url }}" method="post" id="cart_form" class="{% if cart.item_count == 0 %}visuallyhidden{% endif %} quantity-box-enabled-{{ section.settings.display_product_quantity_cart }}">
          <div class="container mb-2">
            <div class="col-xs-12 col-sm-12 col-md-8 border-end p-3 w100 pb-5">
              <div class="container">
                
        <div class="cart__item-list one-whole column medium-down--one-whole">
          {% assign total_saving = 0 %}
          {% for item in cart.items %}
            {% if item.original_price < item.variant.compare_at_price %}
              {% assign saving = item.variant.compare_at_price | minus: item.variant.price | times: item.quantity %}
              {% assign total_saving = saving | plus: total_saving %}
            {% endif %}
        
            <div class="cart__card container is-align-center" data-cart-item="{{ item.key }}" data-variant-id="{{ item.id }}" data-line-item="{{ forloop.index }}">
              <div class="cart__image">
                <a href="{{ item.url }}" title="{{ item.title | escape }}" class="cart_page_image">
                  {% render 'image-element',
                          image: item.image,
                          alt: item.title,
                          object_fit: true,
                          max_height: 200
                  %}
                </a>
              </div>
              <div class="cart__info">
                <div class="cart__description">
                  <div class="desc-01">
                  <div class="cart__text">
                   <p class="item_sku">{{ item.sku }}</p>
                    <p class="item__title">
                      <a href="{{ item.url }}">{{ item.product.title }}</a>
                    </p>
                       
                    {% if item.variant.title contains "Title" %}
                      <p class="item__properties no_variant"></p>
                      {% else %}
                      <p class="item__properties">
                        {% for option in item.product.options %}
                          <span>{{ option }}:</span> <span>{{ item.variant.options[forloop.index0] }}  {% if forloop.last != true %}|{% endif %}</span> 
                        {% endfor %}
                      </p>
                    {% endif %}
                    {% if item.properties %}
                      <p>
                        {% for p in item.properties %}
                          {% comment %}extra details of products{% endcomment %}
                          {% assign is_hidden_prop = false %}
                          {% assign prop_prefix = p.first | slice: 0,1 %}
                          {% if prop_prefix == '_' %}
                            {% assign is_hidden_prop = true %}
                          {% endif %}
                        
                          {% unless p.last == blank or is_hidden_prop %}
                            {% if p.last contains '/uploads/' %}
                              <div>
                                {{ p.first }}: <a class="lightbox" href="{{ p.last }}">{{ 'cart.general.uploaded_file' | t }}</a>
                              </div>
                            {% else %}
                              <p class="shipping_status">
                                 {{ p.last }}
                              </p>
                            {% endif %}
                          {% endunless %}
                        {% endfor %}
                      </p>
                    {% endif %}

                  </div>
                  </div> 
            <div class="desc-02">
   <div class="cart__price">
                  {% if item.line_level_discount_allocations.size < 1 %}
                  <p class="d-flex align-items-end">
                    {% if item.original_price > 0 %}
                      <span class="money {% if item.original_price < item.variant.compare_at_price %}sale{% endif %}">
                        {% render 'price-element', price: item.original_price %}
                      </span>
                      
                      {% if item.original_price < item.variant.compare_at_price %}
                        <span class="money was-price">
                          {% render 'price-element', price: item.variant.compare_at_price %}
                        </span>
                     <span class="mx-2 sale"> You Save: {% assign compare_at = item.variant.compare_at_price | minus: item.original_price %}
                    {% render 'price-element', price: compare_at %}
                     </span>
                      {% endif %}
                    {% else %}
                      {{ settings.free_price_text }}
                    {% endif %}
                  </p>
                  {% endif %}
                  {% comment %} Discounts for line items {% endcomment %}
                  {% if item.line_level_discount_allocations.size > 0 %}
                    <p class="sale">
                      <span class="money">
                        {% render 'price-element', price: item.final_price %}
                      </span>
                    </p>
                    {% if item.original_line_price > item.final_line_price %}
                      <s class="original-price">
                        <span class="money">
                          {% render 'price-element', price: item.original_price %}
                        </span>
                      </s>
                    {% endif %}
                    {% for discount_allocation in item.line_level_discount_allocations %}
                      <div class="line-item-discount__container">
                        <p>{{ discount_allocation.discount_application.title }}</p>
                      </div>
                    {% endfor %}
                  {% endif %}
                </div>
                  
                {% if section.settings.display_product_quantity_cart %}
                  <div class="cart__quantity">
                    <div class="purchase-details__quantity product-quantity-box" data-line-item-key={{ forloop.index }}>
                      {% render 'quantity-box',
                              item: item,
                              size: 'is-medium',
                              variant: item.variant
                      %}
                    </div>
                    <p class="cart__quantity-warning quantity-warning"></p>
                  </div>
                {% endif %} 
                </div>
                </div>
              </div>
                <div class="cart__remove">
                <a class="cart__remove-btn is-inline-flex is-align-center is-justify-center ajax-cart__delete" data-cart-page-delete data-cart-item-key="{{ item.key }}" data-line-item-key={{ forloop.index }} href="{{ routes.cart_change_url }}?line={{ forloop.index }}&amp;quantity=0" title="{{ 'cart.general.remove' | t }}" >
                  <button class="close remove-cart-item" aria-label="close">
                    {% render 'icon', name: 'x-close-bold' %}
                  </button>
                </a>
              </div>
            </div>
          {% endfor %}

        </div>
      </div>
    <div class="cart-extra container is-align-center cart__points">
  <p>Get <span class="cart__subtotal">
    <span class="money">
      {{ cart.total_price | money_without_currency}}  
<!--           {% render 'price-element', price: cart.total_price %} -->

        </span>
      </span>Tarinika rewards points on this order</p>
<div class="one-whole"><a class="cart-links" href="#smile-home">
          <p>Check your Tarinika Points</p>
          
        </a></div>
</div>
              <div id="checkboxdiv" class="cart-extra">
                <p class="cart-attribute__field d-flex align-items-center">
                      <input type="hidden" name="attributes[Want to gift wrap]" value="No">
    <input type="checkbox" name="attributes[Want to gift wrap]" value="Yes"{% if cart.attributes["Want to gift wrap"] == "Yes" %} checked{% endif %}>
                  <span class="d-flex align-items-center mx-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-gift"><polyline points="20 12 20 22 4 22 4 12"></polyline><rect x="2" y="7" width="20" height="5"></rect><line x1="12" y1="22" x2="12" y2="7"></line><path d="M12 7H7.5a2.5 2.5 0 0 1 0-5C11 2 12 7 12 7z"></path><path d="M12 7h4.5a2.5 2.5 0 0 0 0-5C13 2 12 7 12 7z"></path></svg><span>&nbsp;Want to gift wrap</span></span>

  </p>
    </div>
    <div class="col-12 mb-2 ">
                <span class="cart__notes">
                    <div class="field">
                      <label class="visuallyhidden" for="note">{{ 'cart.general.note' | t: shop_name: shop.name }}:</label>
                      <div class="control">
                        <textarea class="textarea" id="note" name="note" rows="2" placeholder="{{ 'cart.general.note_detailed' | t: shop_name: shop.name }}">{{ cart.note }}</textarea>
                      </div>
                    </div>
                </span>
            </div>
            </div><!-- col-8 ends -->
            <div class="col-xs-12 col-sm-12 col-md-4 p-2 w100 pos_rel">
              <div class="column sticked">
         
      <div class="h3 text-left">Order Summary</div>       
      <div class="cart-extra"> 
       {% assign total_savings = total_saving | plus: cart.total_discount %}
       {% assign only_savings = total_saving %}
       {% assign total_cart_item_price = total_savings | plus: cart.total_price %}
       {% assign subtotal_amount = total_cart_item_price | minus: only_savings %}
       <div class="d-flex justify-content-between cart__row">
                <div class="cart__row-description">
                  <p>Total Price:</p>
                </div>
                <p class="cart__total-amount">
                    <span class="money">
                      {% render 'price-element', price: total_cart_item_price %}
                    </span>
                  </p>
              </div>
            {% if only_savings %}
              <div class="subtotal-border d-flex justify-content-between cart__style cart__row">
                  <div class="cart__row-description">
                    <p class="cart">Your savings:</p>
                  </div>
                  <p class="cart__item-saving">
                    <span class="money">
                      - {% render 'price-element', price: only_savings %}
                    </span>
                  </p>
                </div>
          {% endif %}
          <div class="d-flex justify-content-between cart__row">
                  <div class="cart__row-description">
                    <p class="cart">Subtotal:</p>
                  </div>
                  <p class="cart__subtotal-amount">
                    <span class="money">
                      {% render 'price-element', price: subtotal_amount %}
                    </span>
                  </p>
                </div>
              {%- if cart.cart_level_discount_applications != blank -%}
              <div class="d-flex justify-content-between cart__discounts cart__row cart__style">
                {%- for discount_application in cart.cart_level_discount_applications -%}
    <div class="cart__row-description">
      <p class="cart__discount-title">Discount ({{ discount_application.title }})</p>
    </div>
    <p class="cart__discount">
      <span class="money">
        -
        {%
          render 'price-element',
          price: discount_application.total_allocated_amount
        %}
      </span>
    </p>
  {%- endfor -%}
              </div>
                {% endif %}
              
              {% comment %}
                <div class="subtotal-border d-flex justify-content-between cart__total-savings cart__row">
                  <div class="cart__row-description">
                    <p class="cart">{{ 'layout.general.savings' | t }}:</p>
                  </div>
                  <p class="cart__total-discount">
                    <span class="money">
                      {% render 'price-element', price: total_savings %}
                    </span>
                  </p>
                </div>
                {% endcomment %}
                
        <div class="total-border pt-2 d-flex justify-content-between cart__subtotal-container cart__row">
<!--                 <p class="cart__row-description">{{ 'cart.general.total' | t }}:</p> -->
                <p class="cart__row-description">Order Total:</p>
                <p class="cart__subtotal">
                  <span class="money">
                    {% render 'price-element', price: cart.total_price %}
                  </span>
                </p>
              </div>
              
         
        
      </div>
              
    <div class="is-flex is-align-center is-justify-end cart__buttons">
                      <div class="cart__checkout">
                        <button type="submit" class="button add_to_cart checkout" id="checkout" name="checkout" value="{{ 'cart.general.checkout' | t }}">
                          {% if settings.show_lock_icon %}
                            {% render 'icon', name: 'lock' %}
                          {% endif %}
                          {{ 'cart.general.checkout' | t }}
                        </button>
                      </div>
                    </div>
                    <div class="is-flex is-align-center is-justify-end">
                      {% if content_for_additional_checkout_buttons %}
                        <div class="additional-checkout-buttons">
                          {{ content_for_additional_checkout_buttons }}
                        </div>
                      {% endif %}
                    </div>
                    <div class="is-flex is-align-center is-justify-end">
                      {% if cart.item_count > 0 %}
                        <div class="cart__featured-links">
                          <a href="{% if cart.items.first.product.collections != blank %}{{ cart.items.first.product.collections.last.url }}{% else %}{{ routes.all_products_collection_url }}{% endif %}">{{ 'cart.general.continue_shopping_link_html' | t }}</a>
                        </div>
                      {% endif %}
                    </div>
                
  <div class="genericMsg text-center mt-2">
    <p class="text-muted">
      1-Year Warranty<br>Tarinika Quality Assurance
    </p>
  </div>
              </div>
              
            </div>
          </div>
        </form>
      </div>

    </section>
<div class="sticky-footer">
<div class="section is-flex is-space-between">
  <div class="footer-text col-md-8 col-sm-12">
  <p>&copy; {{ "now" | date: "%Y" }} {{ shop.name | link_to: routes.root_url }}.</p>
<p>*T&C Apply</p>
</div>
   <div class="payment-methods col-md-4 col-sm-12">
            {% assign enabled_payment_types = 'visa,master,maestro' | remove: ' ' | split: ',' %}
            {% for type in enabled_payment_types %}
              {{ type | payment_type_svg_tag: class:'payment-icon' }}
            {% endfor %}
          </div>
</div>
</div>
<script src="{{ 'z__jsCart.js' | asset_url }}" defer></script>
<script>
$("#checkboxdiv").click(function (e) {    
    if (!$(e.target).is('input:checkbox')) {
        var $checkbox = $(this).find('input:checkbox');
        $checkbox.prop('checked', !$checkbox.prop('checked'));
    }
});
  $('textarea').each(function () {
  this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
}).on('input', function () {
  this.style.height = 'auto';
  this.style.height = (this.scrollHeight) + 'px';
});
</script>
{% schema %}

{
  "name": "Cart",
  "class": "cart-section jsCart jsShippingCalculator",
  "settings": [
    {
      "type": "checkbox",
      "id": "display_product_quantity_cart",
      "label": "Show quantity box",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_savings",
      "label": "Show total savings",
      "default": true
    },
    {
      "type": "richtext",
      "id": "cart_message",
      "label": "Cart message"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "standard",
      "options": [
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Wide"
        }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top spacing",
      "min": 0,
      "max": 80,
      "default": 40,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "min": 0,
      "max": 80,
      "default": 40,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Advanced",
      "info": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ]
}

{% endschema %}