{% comment %}
** Collection list - dynamic **
- Draggable section
- Uses blocks
{% endcomment %}

{% assign id = section.id %}
{% assign collections_per_row = section.settings.collections_per_row %}
{% assign overlay_background_opacity = section.settings.overlay_background_opacity %}
{% assign overlay_background = section.settings.overlay_background %}
{% assign overlay_text = section.settings.overlay_text %}
{% comment %}Layout{% endcomment %}
{% assign width = section.settings.width %}
{% assign show_gutter = section.settings.show_gutter %}
{% assign padding_top = section.settings.padding_top %}
{% assign padding_bottom = section.settings.padding_bottom %}
{% assign animation = section.settings.animation %}
{% comment %} Advanced {% endcomment %}
{% assign css_class = section.settings.css_class %}
{% assign custom_css = section.settings.custom_css %}

{% comment %} Is the color set to transparent? {% endcomment %}
{% assign overlay_alpha = overlay_background | color_extract: 'alpha' %}
{% assign overlay_text_alpha = overlay_text | color_extract: 'alpha' %}
{% comment %} Opacity level {% endcomment %}
{% if overlay_alpha != 0 %}
  {% assign overlay_background_alpha = overlay_background_opacity | divided_by: 100.00 %}
{% endif %}

{% if section.settings.align_height %}
  {% assign collection_height = section.settings.collection_height %}
{% endif %}

{%- capture section_css -%}
  {% if section.settings.align_height != blank %}
    .placeholder-svg {
      height: {{ collection_height }}px;
      max-height: {{ collection_height }}px;
    }
  {% endif %}

  .collection-thumbnail-overlay {
    background-color: {%- if overlay_alpha != 0 -%}{{ overlay_background | color_modify: 'alpha', overlay_background_alpha }}{% endif %};
  }

  .collection-info__caption span {
    color: {%- if overlay_text_alpha != 0 -%}{{ overlay_text }}{% endif %}
  }
{%- endcapture -%}

{% comment %} Section specific CSS {% endcomment %}
{% style %}
  #shopify-section-{{ id }} {
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
    {% if width == 'wide' %}
      width: 100%;
    {% endif %}
  }
  {% render 'css-loop',
          css: section_css,
          id: id
  %}
  {% render 'css-loop',
          css: custom_css,
          id: id
  %}
  .section{max-width:unset}
  ::-webkit-scrollbar {
    background: transparent;
}
div#products-{{id}} {
    overflow-x: auto;
    flex-flow: row nowrap;
  scrollbar-width: none;
}
.column.one-fifth.thumbnail.list-collection--align-height.has-gutter.has-gutter--mobile.list-collection__thumbnail.medium-down--one-whole {
    min-width: 234px;
    flex: 1 0 35%;
}
div#butns-{{id}} {
display:block;
}
  .has-gutter-enabled.has-multirow-blocks .has-gutter {
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
}

  .cardtitle{font-size:1.5rem}
  button.rightleft {
    background: none;
    border: none;
}

  .collection_section {
    padding-bottom: 21px;
  }
@media only screen and (max-width:900px){
  div#products-{{id}}{
  flex-flow: row !important;
}
/*   div#column-{{id}}:last-child {
    margin-top: 10%;
} */
  #butns-{{id}}{
    display:none!important;
}
  
}
.rightleft > svg {
    stroke-width: 0.7px;
    stroke: #606379;
    width: 45px;
    height: 45px;
}
.prevcol{margin-left:-3%}
.nextcol{margin-right:-3%}
  
  div#butns-{{id}} {
    position: absolute;
    top: 35%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
{% endstyle %}

<section class="section collection_section
                {{ css_class }}
                is-width-{{ width }}
                {% if show_gutter == false %}
                  has-no-side-gutter
                  has-background
                {% else %}
                  has-gutter-enabled
                {% endif %}
                {% if section.blocks.size > collections_per_row %}
                  has-multirow-blocks
                {% endif %}
                "
                {% if animation != "none" %}
                  data-scroll-class="{{ animation }}"
                {% endif %} style="position:relative">

  <div id="products-{{id}}" class="container">
    {% if section.blocks.size > 0 %}

      {% for block in section.blocks %}

        {% assign feature_collection = block.settings.feature_collection %}
        {% assign collection = collections[feature_collection] %}

        {% if block.settings.image %}
          {% assign collection_image = block.settings.image %}
          {% assign collection_image_alt = block.settings.image.alt | escape %}
        {% elsif collection.image != blank %}
          {% assign collection_image = collection.image %}
          {% assign collection_image_alt = collection.image.alt | escape %}
        {% else collection.empty? == false %}
          {% assign collection_image = collection.products.first.featured_image %}
          {% assign collection_image_alt = collection.products.first.featured_image.alt | escape %}
        {% endif %}

        <div id="column-{{id}}" class="column
                    {% render 'column-width', value: collections_per_row %}
                    thumbnail
                    {% if section.settings.align_height %}
                      list-collection--align-height
                    {% endif %}
                    {% if show_gutter == true %}
                      has-gutter
                      has-gutter--mobile
                    {% endif %}
                    list-collection__thumbnail
                    medium-down--one-whole">

          <div class="product-wrap">
            <div class="collection-thumbnail-overlay"></div>

            {% if collection_image != nil %}
              <div class="thumbnail image__container has-image-crop">
                {% render 'image-element',
                        image: collection_image.src,
                        alt: collection_image_alt,
                        image_crop: true,
                        max_height: collection_height
                %}
              </div>
            {% else %}
              {% capture num %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
              {{ 'collection-' | append: num | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}

            <a class="collection-info__caption" href="{{ collection.url }}">
              {% if section.settings.collection_title_below_image == blank %}
                <div class="collection-info__caption-wrapper">
                  <span class="cardtitle">
                    {% if block.settings.title != blank %}
                      {{ block.settings.title }}
                    {% elsif collection != blank %}
                      {{ collection.title }}
                    {% else %}
                      {{ "homepage.onboarding.collection_title" | t }}
                    {% endif %}
                  </span>
                  {% render 'button',
                          label: block.settings.button_label,
                          href: collection.url,
                          style: section.settings.button_style
                  %}
                </div>
              {% endif %}
            </a>
          </div>
          {% if section.settings.collection_title_below_image != blank %}
            <a class="collection-info__caption-wrapper collection-info__caption--below-image" href="{{ collection.url }}">
              <span class="cardtitle">
                {% if block.settings.title != blank %}
                  {{ block.settings.title }}
                {% elsif collection != blank %}
                  {{ collection.title }}
                {% else %}
                  {{ "homepage.onboarding.collection_title" | t }}
                {% endif %}
              </span>
              {% render 'button',
                      label: block.settings.button_label,
                      href: collection.url,
                      style: section.settings.button_style
              %}
            </a>
          {% endif %}
        </div>

      {% endfor %}

    {% endif %}
  </div>
<div id="butns-{{id}}" class="container justify-content-between">
<button class="rightleft prevcol" onclick="slide('left')"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left-circle"><circle cx="12" cy="12" r="10"></circle><polyline points="12 8 8 12 12 16"></polyline><line x1="16" y1="12" x2="8" y2="12"></line></svg></button>
<button class="rightleft nextcol" onclick="slide('right')"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right-circle"><circle cx="12" cy="12" r="10"></circle><polyline points="12 16 16 12 12 8"></polyline><line x1="8" y1="12" x2="16" y2="12"></line></svg></button>
</div>
</section>

<script type="text/javascript">
function slide(direction){
    var container = document.getElementById('products-{{ id }}');
    scrollCompleted = 0;
    var slideVar = setInterval(function(){
        if(direction == 'left'){
            container.scrollLeft -= 50;
        } else {
            container.scrollLeft += 50;
        }
        scrollCompleted += 10;
        if(scrollCompleted >= 100){
            window.clearInterval(slideVar);
        }
    }, 50);
}
</script>
{% schema %}
{
  "name": "Collection list",
  "class": "collection-list",
  "max_blocks": 8,
  "settings": [
    {
      "type": "range",
      "id": "collections_per_row",
      "label": "Collections per row",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "align_height",
      "label": "Align to height",
      "default": false
    },
    {
      "type": "range",
      "id": "collection_height",
      "label": "Collection image height",
      "min": 200,
      "max": 400,
      "step": 10,
      "default": 400,
      "unit": "px",
      "info": "Applied when 'Align to height' is also enabled. [Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360024344614)"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button style",
      "default": "button--secondary",
      "options": [
        {
          "value": "button--primary",
          "label": "Primary"
        },
        {
          "value": "button--secondary",
          "label": "Secondary"
        },
        {
          "value": "button--link-style",
          "label": "Link"
        }
      ]
    },
    {
      "type": "header",
      "content": "Overlay"
    },
    {
      "type": "color",
      "id": "overlay_background",
      "label": "Background",
      "default": "#939393"
    },
    {
      "type": "range",
      "id": "overlay_background_opacity",
      "label": "Background opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "default": 70,
      "unit": "%"
    },
    {
      "type": "color",
      "id": "overlay_text",
      "label": "Text",
      "default": "#FFFFFF"
    },
    {
      "type": "checkbox",
      "id": "collection_title_below_image",
      "label": "Show collection title below image",
      "default": false
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "standard",
      "options": [
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Wide"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_gutter",
      "label": "Show gutter",
      "default": true
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top spacing",
      "min": 0,
      "max": 80,
      "default": 20,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "min": 0,
      "max": 80,
      "default": 20,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "animation",
      "label": "Animation",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "fadeIn",
          "label": "Fade in"
        },
        {
          "value": "fadeInDown",
          "label": "Fade in down"
        },
        {
          "value": "fadeInLeft",
          "label": "Fade in left"
        },
        {
          "value": "fadeInRight",
          "label": "Fade in right"
        },
        {
          "value": "slideInLeft",
          "label": "Slide in left"
        },
        {
          "value": "slideInRight",
          "label": "Slide in right"
        },
        {
          "value": "zoomIn",
          "label": "Zoom in"
        }
      ]
    },
    {
      "type": "header",
      "content": "Advanced"
    },
    {
      "type": "paragraph",
      "content": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "feature_collection",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "The collection's featured image will be used as a fallback."
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "View products"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection list",
      "category": "Collection",
      "settings": {},
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}
