{% comment %}
** Blog posts **
{% endcomment %}

{%- assign title = section.settings.title -%}
{%- assign blog = blogs[section.settings.blog_widget_select] -%}

{% comment %} Section specific CSS {% endcomment %}
{% style %}
  #shopify-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    {% if section.settings.width == 'wide' -%}
      width: 100%;
    {%- endif %}
  }
  {% render 'css-loop',
          css: section.settings.custom_css,
          id: section.id
  %}
  
  @media only screen and (max-width:1024px){
    #blog_container {
      flex-direction: row;
      overflow: auto;
      flex-wrap: nowrap;
    }
    .blog-card__link .image-element__wrap {
      max-height: 100% !important;
    }
    .card-content.blog-card__content {
      width: 300px;
    }
    .featured-article {
      width: 300px
    }
    .blog-card .media-content .title {
      font-size: 1rem !important;
    }
  }
  .blog-posts--1 .section {
    position: relative;
  }

/*   Arrow Icon Style */
  div#butns-blog-posts {
    position: absolute;
    top: 45%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
  }
  /* .ivDFXw {
      right: -16px;
  }
  .fUHKSs {
      left: -16px;
  } */
  .jSVjCL {
      width: 40px;
      height: 40px;
      line-height: 37px;
      border-radius: 50%;

      text-align: center;
      border: 1px solid grey;
  }
  .kYgaUp {
      top: 0px;
      bottom: 0px;
      z-index: 1;
      color: grey;
      opacity: 1;
      cursor: pointer;
      right: 0px;
  }
  .anticon {
      display: inline-block;
      color: grey;
      font-style: normal;
      line-height: 0;
      text-align: center;
      text-transform: none;
      vertical-align: -0.125em;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  .anticon svg {
      display: inline-block;
  }
  svg:not(:root) {
      overflow: hidden;
  }
  .anticon>* {
      line-height: 1;
  }
  @media only screen and (min-width:1024px) {
    #butns-blog-posts {
      display: none !important;
    }
  }
/*   End Arrow Icon Style */
{% endstyle %}

{% comment %} HTML markup {% endcomment %}
<section class="section
                {{ section.settings.css_class }}
                is-width-{{ section.settings.width }}"
                {% if section.settings.animation != "none" %}
                  data-scroll-class="{{ section.settings.animation }}"
                {% endif %} style="width:80%">

  {% if title != blank %}
    <div class="container">
      {% render 'heading',
              title: title,
              heading_tag: 'h2',
              context: 'featured-blog',
              text_alignment: 'center',
              url: blog.url
      %}
    </div>
  {% endif %}

  <div id="blog_container" class="container">
    {% if blog != blank %}
      {% for article in blog.articles limit: section.settings.home_page_articles %}
          <div class="featured-article blog-card {% render 'column-width', value: section.settings.home_page_articles %} columns article card show-border-{{ section.settings.show-border }} medium-down--one-whole has-margin-bottom ">

            {% if article.image != blank %}
              <div class="card-image blog-card__image">
                <figure class="image">
                  <a class="blog-card__link" href="{{ article.url }}" title="{{ article.title | escape }}">
                    {% render 'image-element',
                            image: article.image,
                            alt: article.image.alt,
                            additional_classes: 'blog-card__image'
                    %}
                  </a>
                </figure>
              </div>
            {% endif %}

            <div class="card-content blog-card__content">
              <div class="media">
                <div class="media-content">
                  <h3 class="title">
                    <a class="featured-article--link" href="{{ article.url }}" title="{{ article.title | escape }}">{{ article.title }}</a>
                  </h3>
                </div>
              </div>

              {% if article.excerpt != blank and section.settings.blog_show_excerpt%}
                {%- assign postexcerpt = article.excerpt | size -%}
                {% if postexcerpt > 150 %}
                  {%- assign excerptlength = 'lg' -%}
                {% elsif postexcerpt <= 150 %}
                  {%- assign excerptlength = 'sm' -%}
                {% endif %}
                <div class="excerpt excerpt-length-{{ excerptlength }} has-margin-bottom">
                  {{ article.excerpt }}
                  <span class="truncation-fade"></span>
                </div>
              {% endif %}

              <div class="meta-info is-small">
                {% if section.settings.blog_show_tags %}
                  {% if article.tags.size > 0 %}
                    <ul class="meta-tag-list tags">
                    {% for tag in article.tags %}
                      <li class="tag tag--{{ settings.tag_style}}">
                        <a href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ blog.title | escape }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}">{{ tag }}
                        </a>
                      </li>
                    {% endfor %}
                    </ul>
                  {% endif %}
                {% endif %}

                {% render 'meta-info-list',
                        article: article,
                        blog_author: section.settings.blog_author,
                        blog_date: section.settings.blog_date,
                        blog_read_time: section.settings.read_time,
                        blog_comment_count: section.settings.blog_comment_count
                %}
              </div>
            </div>
          {% if section.settings.button_type != 'none' %}
            <div class="blog-card__read-more buttons">
              {% render 'button',
                      label: section.settings.button_label,
                      href: article.url,
                      type: "link",
                      style: section.settings.button_type
              %}
              <p class="redirect-arrow-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                  <path d="M5.83325 14.1663L14.1666 5.83301M14.1666 5.83301H5.83325M14.1666 5.83301V14.1663" stroke="#6941C6" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </p>
            </div>
          {% endif %}
          </div>
      {% endfor %}
    {% else %}
      {% for i in (1..section.settings.home_page_articles) %}
        <div class="featured-article blog-card {% render 'column-width', value: section.settings.home_page_articles %} columns article card show-border-{{ section.settings.show-border }} medium-down--one-half small-down--one-whole has-margin-bottom">
          <div class="card-image blog-card__image">
            <figure class="image">
              <a href="{{ article.url }}">
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              </a>
            </figure>
          </div>

          <div class="card-content blog-card__content">
            <div class="media">
              <div class="media-content">
                <h4 class="title">
                  <a class="featured-article--link" href="#">{{ 'homepage.onboarding.blogpost_title' | t }}</a>
                </h4>
              </div>
            </div>

            {% if section.settings.blog_show_excerpt%}
              <div class="excerpt has-margin-bottom">
                {{ 'homepage.onboarding.blog_excerpt' | t }}
                <span class="truncation-fade"></span>
              </div>
            {% endif %}

            <div class="meta-info is-small">
                {% if section.settings.blog_show_tags %}
                <ul class="meta-tag-list tags ">
                  {% for i in (1..3) %}
                    <li class="tag tag--{{ settings.tag_style}}">
                      <a href="#">
                        tag{{i}}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
                {% endif %}

                {% render 'meta-info-list',
                        article: article,
                        blog_author: section.settings.blog_author,
                        blog_date: section.settings.blog_date,
                        blog_read_time: section.settings.read_time,
                        blog_comment_count: section.settings.blog_comment_count
                %}
              </div>
            </div>

          {% if section.settings.button_type != 'none' %}
            <div class="blog-card__read-more">
              {% render 'button',
                      label: section.settings.button_label,
                      href: a.url,
                      type: "link",
                      style: section.settings.button_type
              %}
            </div>
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  </div>

<div id="butns-blog-posts" class="container justify-content-between-ocassion">
<button class="rightleft blog-container-prev-icon prevcol" onclick="slideBlogs('left')">
  <div class="CarouselSlider__ArrowCircle-sc-49r1d5-4 CarouselSlider__ArrowCircleLeft-sc-49r1d5-5 jSVjCL fUHKSs">
      <i aria-label="icon: left" height="9px"
          class="anticon anticon-left CarouselSlider__StyledLeft-sc-49r1d5-7 jVnbgl">
          <svg viewBox="64 64 896 896" focusable="false" class="" data-icon="left" width="1em" height="1em"
              fill="grey" aria-hidden="true">
              <path
                  d="M724 218.3V141c0-6.7-7.7-10.4-12.9-6.3L260.3 486.8a31.86 31.86 0 0 0 0 50.3l450.8 352.1c5.3 4.1 12.9.4 12.9-6.3v-77.3c0-4.9-2.3-9.6-6.1-12.6l-360-281 360-281.1c3.8-3 6.1-7.7 6.1-12.6z">
              </path>
          </svg>
      </i>
  </div>
</button>
<button class="rightleft blog-container-next-icon nextcol" onclick="slideBlogs('right')">
  <div class="CarouselSlider__ArrowCircle-sc-49r1d5-4 CarouselSlider__ArrowCircleRight-sc-49r1d5-6 jSVjCL ivDFXw">
      <i aria-label="icon: right" height="9px" class="anticon anticon-right CarouselSlider__StyledRight-sc-49r1d5-8 kYgaUp">
          <svg viewBox="64 64 896 896" focusable="false" class="" data-icon="right" width="1em" height="1em" fill="grey" aria-hidden="true">
              <path d="M765.7 486.8L314.9 134.7A7.97 7.97 0 0 0 302 141v77.3c0 4.9 2.3 9.6 6.1 12.6l360 281.1-360 281.1c-3.9 3-6.1 7.7-6.1 12.6V883c0 6.7 7.7 10.4 12.9 6.3l450.8-352.1a31.96 31.96 0 0 0 0-50.4z"></path>
          </svg>
      </i>
  </div>
</button>
</div>
</section>

<script type="text/javascript">
function slideBlogs(direction){
    var container = document.getElementById('blog_container');
    let scrollValue = container.children[0].offsetWidth + 20;
    if(direction == 'left'){
            container.scrollLeft -= scrollValue;
        } else {
            container.scrollLeft += scrollValue;
        }
}
</script>


{% schema %}

{
  "name": "Blog posts",
  "class": "blog-posts blog-posts--1",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Recent blog posts"
    },
    {
      "type": "blog",
      "id": "blog_widget_select",
      "label": "Blog"
    },
    {
      "type": "range",
      "id": "home_page_articles",
      "label": "Posts",
      "min": 2,
      "max": 4,
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "blog_show_tags",
      "label": "Show tags",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_author",
      "label": "Show author",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "read_time",
      "label": "Show estimated read time",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_comment_count",
      "label": "Show comment count",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "blog_show_excerpt",
      "label": "Show excerpts",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show-border",
      "label": "Show border",
      "default": true
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label",
      "default": "Read more"
    },
    {
      "type": "select",
      "id": "button_type",
      "label": "Button style",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "button--primary",
          "label": "Primary"
        },
        {
          "value": "button--secondary",
          "label": "Secondary"
        },
        {
          "value": "button--link-style",
          "label": "Link style"
        }
      ],
      "default": "button--primary"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wide",
      "options": [
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Wide"
        }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top spacing",
      "min": 0,
      "max": 80,
      "default": 20,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "default": 0,
      "min": 0,
      "max": 80,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "animation",
      "label": "Animation",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "fadeIn",
          "label": "Fade in"
        },
        {
          "value": "fadeInDown",
          "label": "Fade in down"
        },
        {
          "value": "fadeInLeft",
          "label": "Fade in left"
        },
        {
          "value": "fadeInRight",
          "label": "Fade in right"
        },
        {
          "value": "slideInLeft",
          "label": "Slide in left"
        },
        {
          "value": "slideInRight",
          "label": "Slide in right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Advanced",
      "info": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ],
  "presets": [{
    "name": "Blog posts",
    "category": "Blog",
    "settings": {
      "blog_widget_select": ""
    }
  }]
}
{% endschema %}
